<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxThreads" value="1" />
    <add key="MQHostName" value="10.0.139.24" />
    <add key="MQUserName" value="admin" />
    <add key="MQPassword" value="TecaPro#098" />
    <add key="MQQueueName" value="TestMQ" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>